<%- include nav.ejs %>

    <!doctype html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>Socket.io-p2p Example</title>
    </head>

    <body>
        <h1>嗨嗨！
        </h1>

        <div class="row">
            <div class="group col-md-2 col-sm-4">
                <h4>P2P聊天房
                    <button type="button" id="private" class="btn btn-outline-danger" disabled="true">锁定</button>
                </h4>
                <h6 id="des"></h6>
                <h5 class=" display-5"></h5>
                <div class="room justify-content-md-center ">
                    <ul class="list-group" id="chatroom">
                    </ul>
                </div>
                <div class="input-group md-3">
                    <input type="text" class="form-control" id="p2pinput" placeholder="说点什么..." aria-label="Recipient's username" aria-describedby="basic-addon2">
                </div>
            </div>
            <div class="group col-md-2 col-sm-4">
                <h4>Socket聊天房</h4>
                <h6 id="des2"></h6>
                <h5 class=" display-5"></h5>
                <div class="room justify-content-md-center ">
                    <ul class="list-group" id="chatroom2">
                    </ul>
                </div>
                <div class="input-group md-3">
                    <input type="text" class="form-control" id="socketinput" placeholder="说点什么..." aria-label="Recipient's username" aria-describedby="basic-addon2">
                </div>
            </div>
        </div>
    </body>
    <style>
        .group {
            border: 1px solid cornflowerblue;
            margin: 50px;
            padding: 10px;
        }

        .room {
            border: 1px solid rgb(100, 237, 191);
            height: 600px;
            margin: 10px;
            padding: 10px;
            overflow: hidden;
        }
    </style>

    </html>
    <script src="/js/bundle.js" charset="utf-8"></script>