<%- include nav.ejs %>

    <style>
        .form-group {
            margin: 20px auto;
            padding: 40px;
            border: 1px solid rgb(107, 221, 157);
        }

        .display-5 {
            padding: 10px;
            color: aquamarine;
        }
    </style>


    <div class="row justify-content-md-center">
        <div class="form-group ">
            <h1 class="display-5">Login ChatRoom</h1>
            <form class="form-inline" action="./check" method="get">
                <input class="form-control mr-sm-2" type="text" placeholder="name" name="name">
                <input class="btn btn-outline-success my-2 my-sm-0" type="submit" value="登入聊天室">
            </form>
        </div>
    </div>